* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Utility class */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.fl {
    float:left;
    
}

.fr {
    float: right;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    height: 80px;
    background-image:url(../img/logo.png);
    background-repeat: no-repeat;
    background-size:contain;
}

nav {
    margin-top: 20px;
    padding: 15px 15px 15px 0px;
    color: rgba(77, 40, 40, 0.5);
}

ul {
    list-style: none;
}

li {
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
    font-weight: 100;
    text-transform: uppercase;
}

li:last-child {
    margin-right: 0;
}


.main.img{
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center -120px;
    background-color: #FEEBE4;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.layover{
    height: 100%;
    width: 100%;
    background-color: rgba(77, 40, 40, 0.5);
  }

  .main.img, .layover{
    border-radius: 10px;
  }
  

.img-text{
    padding: 200px 350px 100px 70px;
    color: white;
}



.medium-title{
    height: 80px;
    margin-bottom: 25px;
}

.leadership-s{
    color: rgba(77, 40, 40, 0.5);
}

main, aside, .mid-sidebar {
    background-color: rgb(27, 201, 231);
}

main, aside, .mid-sidebar {
    height: 500px;
    margin-bottom: 25px;
    color: rgba(77, 40, 40, 0.5);
}

h4{
    color: black;
    padding: 5px;
    padding-left: 0px ;
}


.mid-sidebar {
    width: calc(20% - 25px);
    margin-right: 25px;
    
}

/* ridimensiono l'immagine 
.fl.mid-sidebar img{
    max-width: 100%;
} */


.small.img{
    height: 200px;
    background-repeat: no-repeat;
}

.first.small.img{
    background-image: url(../img/img-1.jpg);
    background-size:contain;
    
}


main {
    width: 60%;
    margin-right: 25px;
}

.second.small.img{
    background-image: url(../img/banner-2.jpg);
    background-size:contain;
    
}


aside {
    width: calc(20% - 25px);
}

.third.small.img{
    background-image: url(../img/img-3.jpg);
    background-size:contain;
    
}

footer {
    height: 50px;
    margin-top: 15px;
    text-align: center;
}


